body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  button {
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  canvas {
    display: none;
    margin: 20px auto;
    background-color: #6ec6ff;
    border: 4px solid black;
  }
  
  
  